
body{
    background-color: black;
}

.container{
    width: 100vh;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 320px;
    margin-right: 200px;
    
}

.input-field{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 3px 10px black;

}

.submit-button{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px black;
    transition: 0.2s ease-in-out;
}

.submit-button:hover{
    transform: scale(1.1);
    background-color: #ee6600;
}