*{
    margin: 0;
    padding: 0;
    /* background-color: linear-gradient(top to bottom, white, pink); */
}

.navbar img{
    height: 30px;
    position: relative;
     
}

.navbar{
    display: flex;
    margin: 10px;
}

.link{
    margin-left: 20px;
    padding: 5px;
    justify-content: space-evenly;
}

.nav-btn{
    left: 50%;
}