 
           <section id="home">
            <%- include('partials/nav.ejs') %>
            <%- include('partials/header.ejs') %>
        
            <div class="home-container">
    
                <div class="home-content">
                    <h1>The Best</h1>
                    <h2>Blogging Platform</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita nulla et id est a delectus odio, ab voluptatem aperiam similique autem vel. Nulla tenetur iste error ullam ut magnam.</p>
            </div>
         </section>

         <br>
         <br>
         <br>
         <br>
         <section class="post-list">
            <h2>Recent Posts</h2>
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <!-- <th>Date</th> -->
                </tr>
              </thead>
              <tbody>

                <tr>
                  <a href=""><td><strong>How to choose best programming language for your Carrer</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Shantanu Singh</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>10 Common Coding Mistakes and How to Avoid them</strong><br>
                  <label for="date and time">2025-02-26 12:15:33</label></td></a>
                  <td><strong>Shivam Pandey</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>The Role of AI in Software Development: Will AL Replace Programmers?</strong><br>
                  <label for="date and time">2025-02-28 18:02:03</label></td></a>
                  <td><strong>Shikhar Raj</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>From Beginner to Pro: A Roadmap for Learning to Code</strong><br>
                  <label for="date and time">2025-03-02 17:05:33</label></td></a>
                  <td><strong>Shantanu Singh</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>Understanding Algorithms: Why They Master and How to Master them?</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Shivnath</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>Debugging Like a Pro: Tips and Tricks for Finding and Fixing Bugs</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Shivam Pandey</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>How to Open-Source Contributions can Boost Your Coding Skills?</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Aalok Yadav</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>The Evolution of Programming Languages: Past, Present and Future</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Shivam</strong></td>
                </tr>

                <tr>
                  <a href=""><td><strong>Best Coding Practices Every Developers Should Follow</strong><br>
                  <label for="date and time">2025-02-23 17:05:33</label></td></a>
                  <td><strong>Angela Yu</strong></td>
                </tr>

          
              </tbody>
            </table>
          </section>
         
         <%- include('partials/footer.ejs') %>


 

        
