*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container h1{
    color: rgb(193, 26, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#clock{
    margin-top: 50px;
    
}

h2{
    color: aliceblue;
}