 


<!-- </main> -->
<footer>

  <section id="footer">
  
    <div class="social-link">
      <a href="https://www.instagram.com/_freakky.shivam">
          <i class="fab fa-instagram icon"></i>    </a>
        <a href="https://x.com/freakky1shivam?"><i class="fab fa-x-twitter icon"></i></a>
  
        <a href="https://www.linkedin.com/in/shivam-chaudhary-6024ba324?"><i class="fab fa-linkedin-in icon"></i></a></li>
      
        <a href="https://t.me/freakky_shivam"><i class="fab fa-telegram icon"></i></a>
        <a href="https://github.com/freakky1shivam" ><i class="fab fa-github icon"></i></a>       
      </div>
  
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard" id="footer-dashboard">Dashboard</a></li>
      <li><a href="/register" id="footer-register">Register</a></li>
      <li><a href="/login" id="footer-login">Login</a></li>
      <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
    <p>&copy; 2025 By Shivam Chaudhary - All Rights Reserved.</p>
    </section>
   
  
</footer>
<script src="index.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>