

.container{
    background-color: #ff6600;
    height: 110vh;
    background-image: url(./assets/left-img.avif), url(./assets/right-img.avif);
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: 15%;
}



 

.navbar{
    display: flex;
}

.navbar img{
    height: 60px;
    margin: 40px;
    margin-left: 112px;
}

.navbar .nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    margin-left: 200px;
    padding-left: 100px;
}

.navbar .nav-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar .nav-menu .get{
    background-color: #ff6600;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar .nav-menu .get{
    background-image: url(./assets/right-up.png);
    background-size: 17%;
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 40px 10px 10px;
}

.navbar .nav-menu .sign{
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 40px 10px 10px;
}

.main{
    display: flex;
}

.main .text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-left: 200px;
}

span{
    color: black;
    /* filter: drop-shadow(2px 3px 1px black); */
}

.main .text p{
    width: 700px;
}

.main .input{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-left: 160px;
    
}

.main input{
    padding: 20px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}

.main .input #location{
    width: 300px;
    background-image: url(./assets/location.png), url(./assets/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 8%,5%;
    background-position: left center, right center;
    padding: 10px 10px 10px 40px;
}

input{
    box-shadow: 2px 3px 10px black;
    border: 2px solid black;
}


.main .input #search{
    width: 400px;
    background-image: url(./assets/search.png);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right center;
}



.main .menu{
    display: flex;
    justify-content: center;
    padding-left: 195px;
    margin-top: 15px;
}

.main .menu img{
    height: 350px;
    width: 350px;
    filter: drop-shadow(2px 3px 10px black);
    transition: transform 0.2s ease-in-out;
}

.main .menu img:hover{
    transform: scale(1.1);
}
 

#menu-bar .menu-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    position: relative;
}

#menu-bar .menu-container img{
    height: 150px;
    width: 150px;
    filter: drop-shadow(2px 3px 10px black);
    transition: transform 0.2s ease-in-out;
}

#menu-bar .menu-container img:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}


 