*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home{
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    position: relative;
}

.card{
    background-color: rgb(101, 25, 201);
}

.card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 40%;
    transition: all 0.5s ease-in-out;
}